/* General styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .app {
    text-align: center;
  }
  
  /* Navigation styles */
  .navbar {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: #343a40;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    color: #ffffff;
    position: relative;
    margin: 0 15px;
  }
  
  .navbar-nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #28a745;
    transition: width 0.3s;
  }
  
  .navbar-nav .nav-link:hover::after {
    width: 100%;
  }
  
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-success:hover {
    background-color: #218838;
  }
  
  /* Section styles */
  .sections-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px; /* Adjusted to compensate for fixed navbar */
  }
  
  .section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  
  .full-height-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .welcome-header, .about-header, .projects-header, .contact-header {
    color: #2c3e50;
    margin-bottom: 20px;
  }
  
  .developer-info, .about-content, .contact-info {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
  }
  
  .info-text, .about-text, .contact-text {
    margin: 10px 0;
    font-size: 1.1rem;
  }
  
  .highlight {
    color: #e74c3c;
  }
  
  .contact-list {
    list-style: none;
    padding: 0;
  }
  
  .contact-label {
    font-weight: bold;
  }
  
  .social-label {
    font-style: italic;
    margin-right: 5px;
  }
  
  .contact-form {
    margin-top: 40px;
  }
  
  .form-header {
    color: #2c3e50;
  }
  
  .hero-banner {
    background-image: url('assets/k033_ccf0_220705.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
  