/* General styles */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Navigation styles */
.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #343a40;
  padding: 10px 0;
}

.navbar-brand {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #ffffff;
  margin: 0 15px;
  position: relative;
}

.navbar-nav .nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #28a745;
  transition: width 0.3s;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
}

/* Section styles */
.sections-container {
  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid #d3d3d3;
  font-weight: bold;
  overflow: hidden;
  /* Ensure content stays within section boundaries */
  padding: 20px;
}

.full-height-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: #d32f2f;
  border-bottom: 2px solid #d3d3d3;
  text-align: left;
  background-color: #343a40;
  font-weight: bold;
  overflow: hidden;
  /* Ensure content stays within section boundaries */
}

.developer-name {
  font-weight: bold;
}

.hero-banner {
  background-color: #343a40;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  font-weight: bold;
  backdrop-filter: 100%;
  padding: 20px;
}


.welcome-header,
.about-header,
.contact-header,
.projects-header {
  color: #ffffff;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 2.5em;
  /* font-family: 'Courier New', Courier, monospace;  */
  /* font-family: 'Helvetica', Arial, sans-serif; */
  /* font-family: 'Segoe UI', 'Roboto', 'Helvetica', Arial, sans-serif;  */
  font-family: 'Georgia', 'Times New Roman', serif;

}


.profile-image {
  margin-left: 60%;
  margin-top: -22%;
  width: 500px;
  height: 500px;
  align-items: center;
  object-fit: cover;
  /* border-radius: 50%; */
  border: 2px solid transparent;
  background-color: #005494;
  /* Adjusted background color */
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.5);
  animation: blinking-neon 1s infinite alternate;
}

@keyframes blinking-neon {

  0%,
  100% {
    border-color: #007acc;
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.5);
  }

  50% {
    border-color: #28a745;
    box-shadow: 0 0 20px rgba(40, 167, 69, 0.7);
  }
}





.developer-info {
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
  margin-left: 20px;
  margin-top: 10px;
  /* Adjusted top margin */
  font-weight: bold;
  display: flex;
  align-items: center;
  /* Center items vertically */
  justify-content: space-between;
  /* Space out the text and image */
  width: 80%;
  /* Adjusted width */
}

.about-content {
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
  margin-left: 20px;
  margin-top: 20px;
}

.info-text,
.about-text {
  font-size: 1.1rem;
  font-weight: bold;
}

/* Projects section styles */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  font-weight: bold;
}

.project-card {
  align-items: center;
  flex: 1 1 calc(33.333% - 40px);
  max-width: calc(33.333% - 40px);
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #2c3e50;
  font-weight: bold;
}

.project-description {
  font-size: 1rem;
  color: #7f8c8d;
}


.project-card:hover {
  transform: scale(1.05);
}

.project-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-card:hover::before {
  opacity: 1;
}

.section,
.full-height-section,
.hero-banner {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
}

.developer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #1e1e1e;
}


.developer-name {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #29b6f6;
}

.info-text {
  margin: 5px 0;
  color: #b0bec5;
}

.highlight {
  font-weight: bold;
  color: #29b6f6;
}

.contact-header {
  color: #ffffff;
  margin-bottom: 30px;
  /* Increased bottom margin for separation */
  margin-left: 20px;
  font-size: 2.5em;
  font-family: 'Georgia', 'Times New Roman', serif;
}

.contact-info {
  text-align: center;
  margin-bottom: 30px;
  /* Increased bottom margin for separation */
}

.contact-text {
  font-size: 1.2rem;
  /* Slightly increased font size */
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 15px;
  /* Increased bottom margin for separation */
}

.contact-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.contact-list li {
  margin-bottom: 15px;
  /* Increased bottom margin for separation */
  font-size: 1.1rem;
  /* Adjusted font size */
  color: #ffffff;
}

.contact-label {
  font-weight: bold;
  margin-right: 8px;
  /* Slightly reduced right margin */
}

.social-label {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 1.1rem;
  /* Font size adjustment */
  margin-bottom: 15px;
  /* Increased bottom margin for separation */
}

.social-label a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.social-label a:hover {
  color: #29b6f6;
}

.social-icon {
  width: 30px;
  /* Slightly reduced icon size */
  height: 30px;
  /* Slightly reduced icon size */
  margin-right: 10px;
  vertical-align: middle;
}

.form-header {
  font-size: 2.2em;
  /* Slightly increased font size */
  color: #ffffff;
  margin-bottom: 30px;
  /* Increased bottom margin for separation */
}

.social-button {
  display: flex;

  align-items: center;
  margin-bottom: 10px;
  padding: 8px 16px;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.social-button img.social-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.social-button:hover {
  background-color: #ffffff;
  color: #29b6f6;
}

.contact-form button {
  margin-top: 20px;
}

/* About Me Section */
#about {
  padding: 40px 20px;
}


/* .about-section {
  margin-bottom: 40px;
} */

.section-subheader {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.about-content {
  margin-left: 20px;
}

.about-text {
  font-size: 1.1em;
  margin-bottom: 15px;
}

.programming-buttons,
.additional-skills-buttons,
.personal-interests-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
}

.programming-buttons button,
.additional-skills-buttons button,
.personal-interests-buttons button {
  width: auto;
  padding: 10px 20px;
  font-size: 1em;
}

@media (max-width: 768px) {
  .about-header {
    font-size: 2em;
  }

  .section-subheader {
    font-size: 1.5em;
  }

  .about-text {
    font-size: 1em;
  }
}